@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  padding: 0;
  margin: 0;
}

header {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

footer {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}