@use 'bootstrap/scss/bootstrap';

$color-cornsilk: #fff8dc;
$color-highlight: #ffc107;
$color-sunshine: #ffdb6d;
$soft-ivory: #FFFDF4;

@font-face {
  font-family: 'DogicaPixel';
  src: url('/fonts/dogicapixel.ttf');
}

* {
  font-family: 'DogicaPixel', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: $color-cornsilk;
}

header {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

footer {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
  background-color: #ffc107 !important; // Bootstrap warning
  box-shadow: none;
}

.nav-link:focus, .text-cornsilk, a.nav-link, button.nav-link {
  color: $color-cornsilk;
}

.nav-link:hover, a.nav-link:hover, button.nav-link:hover {
  color: $color-highlight;
}

.form-check-input:checked {
  background-color: #f59f00;
  border-color: #f59f00;
}

.text-cornsilk {
  color: cornsilk;
}

.text-cornsilk a {
  color: inherit;
}

.bg-sunshine {
  background-color: $color-sunshine;
}

.bg-ivory {
  background-color: $soft-ivory;
}

input[type="range"] {
  width: 100%; /* Full width */
  height: 8px; /* Track height */
  background: $color-highlight; /* Track color */
  border-radius: 5px; /* Slightly rounded track */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: $color-highlight; /* Thumb color */
  border-radius: 50%; /* Circular */
  cursor: pointer; /* Pointer on hover */
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: $color-highlight; /* Thumb color */
  border-radius: 50%; /* Circular */
  cursor: pointer;
}